<div *ngIf='isUserAuthenticated==true'>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading font-weight-bold">AnyBuyStoreAdmin </div>
      <div class="list-group list-group-flush">
        <a routerLink="/users" class="list-group-item list-group-item-action bg-light">Users</a>
        <a routerLink="/products" class="list-group-item list-group-item-action bg-light">products</a>
        <a routerLink="/categories" class="list-group-item list-group-item-action bg-light">categories</a>
        <a routerLink="/subcategories" class="list-group-item list-group-item-action bg-light">subcategories</a>
        <a routerLink="/discounts" class="list-group-item list-group-item-action bg-light">discounts</a>
        <a routerLink="/orders" class="list-group-item list-group-item-action bg-light">orders</a>
        <a routerLink="/country" class="list-group-item list-group-item-action bg-light">countries</a>
        <a routerLink="/state" class="list-group-item list-group-item-action bg-light">states</a>
        <a routerLink="/city" class="list-group-item list-group-item-action bg-light">cities</a>
        <a routerLink="/profile/{{userId}}" class="list-group-item list-group-item-action bg-light">profile</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
             <span class=" font-weight-bold mr-3" ><h5>{{userName}}</h5></span>
            </li>
            <li><button class="btn btn-secondary" type="button" (click)="logout()">
              Sign out</button></li>&nbsp;&nbsp;&nbsp;
              <li><button class="btn btn-secondary" type="button"  routerLink="/passwordChange">
                change password</button></li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>


<div *ngIf= 'isUserAuthenticated ==false' id="page-content-wrapper">
   <!-- Page Content -->
   <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a routerLink="/login" class="authTextDesign btn btn-secondary ml-2 mr-2 mb-1">login</a>
          </li>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
</div>