<footer class="footer">
    <div class="container">
      <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left mr-auto">
              <div class="footer-widget">
                      <h4 class="mb-4">AnyBuyStore</h4>
                      <p class="lead">Anything you need  is here</p>
                    
                    <div class="">
                        <p class="mb-0"><strong>Location : </strong>INDIA</p>
                        <p><strong>Support Email : </strong> AnyBuyStore@email.com</p>
                    </div>
              </div>
            </div>  
         </div>
    </div>
  </footer>
  
  
  <div class="footer-btm py-4 ">
    <div class="container">
      <div class="row ">
             <div class="col-lg-6">
                 <p class="copyright mb-0 ">@ Copyright Reserved to therichpost &amp; made by <a href="https://therichpost.com/">therichpost</a></p>
             </div>
         </div>
    </div>
  </div>